@model IEnumerable<MVCErick.Models.UsuarioModels>
@{
    ViewBag.Title = "Exibir";
}

<h2>Exibir</h2>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

@*Campos de filtro*@
<div>
    @*Criar campos para filtros aqui dentro*@

    <!-- View (Razor/HTML) -->
    <form id="searchForm">
        <input class="w-100" type="text" id="inputBusca" placeholder="Nome" style="border-radius:5px">
    </form>
</div>

@*<input type="text" id="pesquisa" placeholder="Pesquisar">
    <button onclick="filtrarUsuarios()">Pesquisar</button>*@

@{
    var usuarios = ViewBag.Usuarios as List<MVCErick.Models.UsuarioResponse>;
}

<div id="userList">
    @if (usuarios != null && usuarios.Any())
    {
        <table id="tabelaResultados" class="table table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Telefone</th>
                    <th>Empresa</th>
                    <th>Endereço</th>
                    <th>CNPJ</th>
                    <th>Descrição</th>
                    <th>Criação</th>
                    <!-- Adicione outras colunas conforme necessário -->
                </tr>
            </thead>
            <tbody>
                @foreach (var usuario in usuarios)
                {
                    <tr>
                        <td>@usuario.NomeUsuario</td>
                        <td>@usuario.CPF</td>
                        <td>@usuario.TelefoneUsuario</td>
                        <td>@usuario.NomeEmpresarial</td>
                        <td>@usuario.EnderecoEmpresa</td>
                        <td>@usuario.CNPJEmpresa</td>
                        <td>@usuario.DescricaoEmpresarial</td>
                        <td>@usuario.CriacaoEmpresa</td>
                        <!-- Adicione outras colunas conforme necessário -->
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Nenhum usuário encontrado.</p>
    }
</div>

<script>
    document.getElementById('inputBusca').addEventListener('input', function () {
        var searchTerm = this.value.trim().toLowerCase();
        var rows = document.querySelectorAll('#tabelaResultados tbody tr');

        rows.forEach(function (row) {
            var nome = row.querySelector('td:nth-child(1)').textContent.trim().toLowerCase();
            if (nome.includes(searchTerm)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });
</script>
