@model IEnumerable<MVCErick.Models.UsuarioModels>

@{
    ViewBag.Title = "DetailsV2";
}

<h2>DetailsV2</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



@*Campos de filtro*@
<div>
    @*Criar campos para filtros aqui dentro*@



</div>



@*Tabela para mostrar os dados*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Empresa.NomeEmpresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa.NomeEmpresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CPF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
    </tr>

}

</table>
